@font-face 
{
    font-family: pokemon_relleno;
    src: url("fonts/PokemonSolid.otf") ;
}


#titulo
    {
        font-size: xx-large;
        font-family: pokemon_relleno;
    }

span
    {
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
html
	{
		background: rgba(52,129,224,1);
		background: -moz-linear-gradient(left, rgba(52,129,224,1) 0%, rgba(28,176,255,1) 30%, rgba(28,176,255,1) 51%, rgba(28,176,255,1) 69%, rgba(52,129,224,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,129,224,1)), color-stop(30%, rgba(28,176,255,1)), color-stop(51%, rgba(28,176,255,1)), color-stop(69%, rgba(28,176,255,1)), color-stop(100%, rgba(52,129,224,1)));
		background: -webkit-linear-gradient(left, rgba(52,129,224,1) 0%, rgba(28,176,255,1) 30%, rgba(28,176,255,1) 51%, rgba(28,176,255,1) 69%, rgba(52,129,224,1) 100%);
		background: -o-linear-gradient(left, rgba(52,129,224,1) 0%, rgba(28,176,255,1) 30%, rgba(28,176,255,1) 51%, rgba(28,176,255,1) 69%, rgba(52,129,224,1) 100%);
		background: -ms-linear-gradient(left, rgba(52,129,224,1) 0%, rgba(28,176,255,1) 30%, rgba(28,176,255,1) 51%, rgba(28,176,255,1) 69%, rgba(52,129,224,1) 100%);
		background: linear-gradient(to right, rgba(52,129,224,1) 0%, rgba(28,176,255,1) 30%, rgba(28,176,255,1) 51%, rgba(28,176,255,1) 69%, rgba(52,129,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3481e0', endColorstr='#3481e0', GradientType=1 );
    }